:root {
    --color-1: #33ccff;
    --background: #2B303B00;
    --background-termite: #3f3f3f;
    --workspace-button-hover: #00000033;
    --urgent: #eb4d4b;
    --light-background: #bbccdd;
    --battery-charge-plugged: #26a65b;
    --color-9: #66cc99;
    --color-10: #2a5c45;
    --color-11: #ffa000;
    --color-12: #ecf0f1;
    --color-13: #2d3436;
    --color-14: #90b1b1;
    --color-15: #51a37a;
    --workspace-white: #ffffff;
    --black: #000000;
    --workspace-button-focused: #64727D;
} 

* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: var(--color-1);
    border-radius: 4px;
    font-family: "GoMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: var(--background);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: var(--workspace-white);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px var(--workspace-white);
}

#workspaces button {
    padding: 0 0.3em;
    background-color: transparent;
    color: var(--workspace-white);
}

#workspaces button:hover {
    background: var(--workspace-button-hover);
}

#workspaces button.focused {
    background-color: var(--workspace-button-focused);
    box-shadow: inset 0 -3px var(--workspace-white);
}

#workspaces button.urgent {
    background-color: var(--urgent);
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#custom-power {
    padding: 0 10px;
    margin: 3px 3px;
    color: var(--background);
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-power {
    background-color: var(--light-background);
}

#clock {
    background-color: var(--light-background);
}

#battery {
    background-color: var(--light-background);
    color: var(--background);
}

#battery.charging, #battery.plugged {
    color: var(--workspace-white);
    background-color: var(--battery-charge-plugged);
}

@keyframes blink {
    to {
        background-color: var(--workspace-white);
        color: var(--black);
    }
}

#battery.critical:not(.charging) {
    background-color: var(--urgent);
    color: var(--workspace-white);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: var(--workspace-button-hover);
}

#network {
    background-color: var(--light-background);
}

#network.disconnected {
    background-color: var(--urgent);
}

#pulseaudio {
    background-color: var(--light-background);
}

#pulseaudio.muted {
    background-color: var(--light-background);
}

#tray {
    background-color: var(--light-background);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: var(--urgent);
}

#language {
    background: var(--light-background);
    color: var(--background);
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: var(--light-background);
    color: var(--background);
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: var(--workspace-button-hover);
}