@define-color base00    #$$base00$$;
@define-color base01    #$$base01$$;
@define-color base02    #$$base02$$;
@define-color base03    #$$base03$$;
@define-color base04    #$$base04$$;
@define-color base05    #$$base05$$;
@define-color base06    #$$base06$$;
@define-color base07    #$$base07$$;
@define-color base08    #$$base08$$;
@define-color base09    #$$base09$$;
@define-color base0A    #$$base0A$$;
@define-color base0B    #$$base0B$$;
@define-color base0C    #$$base0C$$;
@define-color base0D    #$$base0D$$;
@define-color base0E    #$$base0E$$;
@define-color base0F    #$$base0F$$;

* {
    border: none;
    border-radius: 0;
    font-family: "GoMono Nerd Font", FontAwesome, DejaVu Sans Mono, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    border-radius: 4px
}

window#waybar {
    background-color: @base00;
    color: @base06;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 0.3em;
    background-color: transparent;
    color: @base06;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @base02;
    box-shadow: inherit;
    border-bottom: 3px solid @base06;
}

#workspaces button.active {
    background-color: @base03;
    border-bottom: 3px solid @base06;
}

#workspaces button.urgent {
    background-color: @base09;
}


#clock,
#network,
#pulseaudio,
#tray {
    padding: 0 3px;
    margin: 0 4px;
    color: @base06;
}

@keyframes blink {
    to {
        color: @base06;
    }
}

label:focus {
    background-color: @base03;
}

#custom-menu, #custom-power {
    padding: 0 8px;
    background: @base06;
    color: @base01;
}

#custom-menu button:hover {
    color: @base00;
}